* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.menu {
    height: 4vw;
    font-size: 1.5vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    height: 4vw;
}

.column {
    float: left;
    height: 100vh;
}

.left {
    width: 75%;
}

.right {
    width: 25%;
    background-color: grey;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.crossroad {
    z-index: 0;
    position: absolute;
    left: 37%;
    width: 640px;
    height: 640px;
    margin-left: -320px;
}

.car {
    z-index: 2;
    position: relative;
    width: 100px;
    top: 332px;
    left: 700px;
}