html,
body {
    height: 100%;
    margin: 0;
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #c1c1c1;
}

.counter {
    padding-top: 10px;
    float: right;
}

p {
    font-size: 16px;
}

.tooltip {
    padding: 10px 20px;
}

.column {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.margin {
    margin-bottom: 45px;
}

.bg-nav {
    background-color: rgb(39, 38, 37);
    color: white;
}

.bg-1 {
    background-color: rgb(161, 146, 109);
    /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #49433a;
    /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff;
    /* White */
    color: #555555;
}

.bg-4 {
    background-color: #383129bc;
    /* Black Gray */
    color: #fff;
}

.bg-5 {
    background-color: #2f2f2f;
    /* Black Gray */
    color: #fff;
}

.container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 5px;
}

.active {
    color: rgb(155, 117, 69) !important;
    font-size: 16px;
}

.navbar-nav li a:hover {
    color: #b3b07a !important;
    font-size: 20px;
}

.crossroad {
    z-index: 0;
    position: absolute;
    left: 50%;
    width: 640px;
    height: 640px;
    margin-left: -320px;
    margin-top: -690px;
}

.wrapper {
    z-index: 0;
    position: absolute;
    left: 50%;
    width: 640px;
    height: 640px;
    margin-left: -320px;
    overflow: hidden;
}

.car {
    z-index: 3;
    position: relative;
    width: 100px;
    height: 50px;
    margin-left: -50px;
    top: -665px;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button:hover {
    background-color: #e7e7e7;
}


/* lightbox */

#preview {
    transition: 1s;
    padding: 15px;
    object-fit: cover;
    width: 15vw;
    height: 15vw;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.modal-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding: 0;
    width: 80%;
    max-width: 55vw;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

#explanation {
    color: black;
}

.buttonGroup {
    width: 20%;
    margin: auto;
    margin-top: 680px;
}

.buttonGroup button {
    width: 30%;
}

#explanation {
    text-align: center;
}

#hint h3 {
    color: rgb(190, 153, 118);
}

#hint {
    font-size: 1.8vh;
}


/* CALENDAR */

.hint-btn {
    padding: 8px 15px;
    margin: 10px 0px;
    font-size: 16px;
    background-color: rgb(155, 117, 69);
}

.button-find {
    margin-right: 10px;
}

#calendar-body td {
    height: 100px;
    font-size: 12px;
}

.margin-top {
    margin-top: 10px;
}

.margin-top2 {
    margin-top: 50px;
}

.margin-bottom {
    margin-bottom: 20px;
}